<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lmbx.csp.dispatch.mapper.MyCspMainPersonMapper">
  <select id="selectCheckInWorkersByConfNo" parameterType="java.lang.String" resultMap="com.lmbx.csp.data.main.mapper.CspMainPersonMapper.BaseResultMap">
    select 
    <include refid="com.lmbx.csp.data.main.mapper.CspMainPersonMapper.Base_Column_List"/>
    from CSP.CSP_MAIN_PERSON  
    where id in (
   select DISTINCT WORKER_ID  from CSP_CONF_CHECKIN_WORKER 
   where CHECKIN_ID in(
   select DISTINCT id from CSP_CONF_CHECKIN 
   where CONF_ID in  
   (select DISTINCT id from CSP_CONFERENCE 
   where CONF_NO =  #{confNo,jdbcType=VARCHAR})
  )
 )
  </select>   
  
   <select id="selectCheckInPersonByConfNo" parameterType="java.lang.String" resultMap="com.lmbx.csp.data.main.mapper.CspMainPersonMapper.BaseResultMap">
    select 
    <include refid="com.lmbx.csp.data.main.mapper.CspMainPersonMapper.Base_Column_List"/>
    from CSP.CSP_MAIN_PERSON  
    where id in (
   select DISTINCT PERSON_ID from CSP_CONF_CHECKIN_PERSON 
   where CHECKIN_ID in(
   select DISTINCT id from CSP_CONF_CHECKIN 
   where CONF_ID in  
   (select DISTINCT id from CSP_CONFERENCE 
   where CONF_NO =  #{confNo,jdbcType=VARCHAR})
  )
 )
  </select>  
  
  <select id="selectRegiVistorsByConfNo" parameterType="java.lang.String" resultMap="com.lmbx.csp.data.main.mapper.CspMainPersonMapper.BaseResultMap">
    select 
    <include refid="com.lmbx.csp.data.main.mapper.CspMainPersonMapper.Base_Column_List" />
    from CSP.CSP_MAIN_PERSON  
    where id in (
   select DISTINCT VISITOR_ID from CSP_CONF_VISITOR 
   where CONF_ID in  
   (select DISTINCT id from CSP_CONFERENCE 
   where CONF_NO =  #{confNo,jdbcType=VARCHAR})
 )
  </select>   
  <select id="selectRegiLecturersByConfNo" parameterType="java.lang.String" resultMap="com.lmbx.csp.data.main.mapper.CspMainPersonMapper.BaseResultMap">
    select 
    <include refid="com.lmbx.csp.data.main.mapper.CspMainPersonMapper.Base_Column_List" />
    from CSP.CSP_MAIN_PERSON  
   where id in (
   select DISTINCT CONF_LECTURER_ID from CSP_CONF_LECTURER
   where CONF_ID in  
   (select DISTINCT id from CSP_CONFERENCE 
   where CONF_NO =  #{confNo,jdbcType=VARCHAR})
 )
  </select>  
  
   <select id="selectBaseWorkersByConfNo" parameterType="java.lang.String" resultMap="com.lmbx.csp.data.main.mapper.CspMainPersonMapper.BaseResultMap">
    select 
    <include refid="com.lmbx.csp.data.main.mapper.CspMainPersonMapper.Base_Column_List" />
    from CSP.CSP_MAIN_PERSON  
   where id in (
   select DISTINCT WORKER_ID from CSP_CONF_WORKER
   where CONF_ID in  
   (select DISTINCT id from CSP_CONFERENCE 
   where CONF_NO =  #{confNo,jdbcType=VARCHAR})
 )
  </select>            
</mapper>