<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lmbx.csp.dispatch.mapper.MyCspConfCheckinPersonMapper">
  <select id="selectCheckInPersonsByConfNo" parameterType="java.lang.String" resultMap="com.lmbx.csp.data.conf.mapper.CspConfCheckinPersonMapper.BaseResultMap">
    select 
    <include refid="com.lmbx.csp.data.conf.mapper.CspConfCheckinPersonMapper.Base_Column_List" />
    from CSP.CSP_CONF_CHECKIN_PERSON
    where CHECKIN_ID in(
   select DISTINCT id from CSP_CONF_CHECKIN 
   where CONF_ID in  
   (select DISTINCT id from CSP_CONFERENCE 
   where CONF_NO =  #{confNo,jdbcType=VARCHAR})
  )          
  </select>
</mapper>