<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lmbx.csp.dispatch.mapper.MySysAccountMapper">
  <select id="selectCheckInAccountByConfNo" parameterType="java.lang.String" resultMap="com.lmbx.csp.data.sys.mapper.SysAccountMapper.BaseResultMap">
    select 
    <include refid="com.lmbx.csp.data.sys.mapper.SysAccountMapper.Base_Column_List" />
    from SYS_ACCOUNT  where USER_ID in(
       select id
    from CSP.CSP_MAIN_PERSON  
    where id in (
   select DISTINCT WORKER_ID  from CSP_CONF_CHECKIN_WORKER 
   where CHECKIN_ID in(
   select DISTINCT id from CSP_CONF_CHECKIN 
   where CONF_ID in  
   (select DISTINCT id from CSP_CONFERENCE 
   where CONF_NO =  #{confNo,jdbcType=VARCHAR})
  )
 )                 
  )      
  </select>
  
  <select id="selectBaseAccountByConfNo" parameterType="java.lang.String" resultMap="com.lmbx.csp.data.sys.mapper.SysAccountMapper.BaseResultMap">
    select 
    <include refid="com.lmbx.csp.data.sys.mapper.SysAccountMapper.Base_Column_List" />
    from SYS_ACCOUNT  where USER_ID in(
       select id
    from CSP.CSP_MAIN_PERSON  
    where id in (
   select DISTINCT WORKER_ID  from CSP_CONF_WORKER
   where CONF_ID in  
   (select DISTINCT id from CSP_CONFERENCE 
   where CONF_NO =  #{confNo,jdbcType=VARCHAR})
 )                 
  )      
  </select>
</mapper>