<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lmbx.csp.data.conf.mapper.CspConfLecturerMapper">
  <resultMap id="BaseResultMap" type="com.lmbx.csp.data.conf.domain.CspConfLecturer">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="CONF_LECTURER_ID" jdbcType="VARCHAR" property="confLecturerId" />
    <result column="CONF_ID" jdbcType="VARCHAR" property="confId" />
    <result column="CONF_PLACE_ID" jdbcType="VARCHAR" property="confPlaceId" />
    <result column="CREATE_BY" jdbcType="VARCHAR" property="createBy" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UPDATE_BY" jdbcType="VARCHAR" property="updateBy" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="LECTURER_CONF_NO" jdbcType="VARCHAR" property="lecturerConfNo" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, CONF_LECTURER_ID, CONF_ID, CONF_PLACE_ID, CREATE_BY, CREATE_TIME, UPDATE_BY, 
    UPDATE_TIME, LECTURER_CONF_NO
  </sql>
  <select id="selectByExample" parameterType="com.lmbx.csp.data.conf.domain.CspConfLecturerExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from CSP.CSP_CONF_LECTURER
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from CSP.CSP_CONF_LECTURER
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from CSP.CSP_CONF_LECTURER
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.lmbx.csp.data.conf.domain.CspConfLecturerExample">
    delete from CSP.CSP_CONF_LECTURER
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.lmbx.csp.data.conf.domain.CspConfLecturer">
    insert into CSP.CSP_CONF_LECTURER (ID, CONF_LECTURER_ID, CONF_ID, 
      CONF_PLACE_ID, CREATE_BY, CREATE_TIME, 
      UPDATE_BY, UPDATE_TIME, LECTURER_CONF_NO
      )
    values (#{id,jdbcType=VARCHAR}, #{confLecturerId,jdbcType=VARCHAR}, #{confId,jdbcType=VARCHAR}, 
      #{confPlaceId,jdbcType=VARCHAR}, #{createBy,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateBy,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{lecturerConfNo,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.lmbx.csp.data.conf.domain.CspConfLecturer">
    insert into CSP.CSP_CONF_LECTURER
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="confLecturerId != null">
        CONF_LECTURER_ID,
      </if>
      <if test="confId != null">
        CONF_ID,
      </if>
      <if test="confPlaceId != null">
        CONF_PLACE_ID,
      </if>
      <if test="createBy != null">
        CREATE_BY,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="updateBy != null">
        UPDATE_BY,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
      <if test="lecturerConfNo != null">
        LECTURER_CONF_NO,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="confLecturerId != null">
        #{confLecturerId,jdbcType=VARCHAR},
      </if>
      <if test="confId != null">
        #{confId,jdbcType=VARCHAR},
      </if>
      <if test="confPlaceId != null">
        #{confPlaceId,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lecturerConfNo != null">
        #{lecturerConfNo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.lmbx.csp.data.conf.domain.CspConfLecturerExample" resultType="java.lang.Long">
    select count(*) from CSP.CSP_CONF_LECTURER
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update CSP.CSP_CONF_LECTURER
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.confLecturerId != null">
        CONF_LECTURER_ID = #{record.confLecturerId,jdbcType=VARCHAR},
      </if>
      <if test="record.confId != null">
        CONF_ID = #{record.confId,jdbcType=VARCHAR},
      </if>
      <if test="record.confPlaceId != null">
        CONF_PLACE_ID = #{record.confPlaceId,jdbcType=VARCHAR},
      </if>
      <if test="record.createBy != null">
        CREATE_BY = #{record.createBy,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateBy != null">
        UPDATE_BY = #{record.updateBy,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null">
        UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.lecturerConfNo != null">
        LECTURER_CONF_NO = #{record.lecturerConfNo,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update CSP.CSP_CONF_LECTURER
    set ID = #{record.id,jdbcType=VARCHAR},
      CONF_LECTURER_ID = #{record.confLecturerId,jdbcType=VARCHAR},
      CONF_ID = #{record.confId,jdbcType=VARCHAR},
      CONF_PLACE_ID = #{record.confPlaceId,jdbcType=VARCHAR},
      CREATE_BY = #{record.createBy,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      UPDATE_BY = #{record.updateBy,jdbcType=VARCHAR},
      UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      LECTURER_CONF_NO = #{record.lecturerConfNo,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.lmbx.csp.data.conf.domain.CspConfLecturer">
    update CSP.CSP_CONF_LECTURER
    <set>
      <if test="confLecturerId != null">
        CONF_LECTURER_ID = #{confLecturerId,jdbcType=VARCHAR},
      </if>
      <if test="confId != null">
        CONF_ID = #{confId,jdbcType=VARCHAR},
      </if>
      <if test="confPlaceId != null">
        CONF_PLACE_ID = #{confPlaceId,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        CREATE_BY = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        UPDATE_BY = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lecturerConfNo != null">
        LECTURER_CONF_NO = #{lecturerConfNo,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lmbx.csp.data.conf.domain.CspConfLecturer">
    update CSP.CSP_CONF_LECTURER
    set CONF_LECTURER_ID = #{confLecturerId,jdbcType=VARCHAR},
      CONF_ID = #{confId,jdbcType=VARCHAR},
      CONF_PLACE_ID = #{confPlaceId,jdbcType=VARCHAR},
      CREATE_BY = #{createBy,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_BY = #{updateBy,jdbcType=VARCHAR},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      LECTURER_CONF_NO = #{lecturerConfNo,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>