<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lmbx.csp.data.sys.mapper.SysMenuMapper">
  <resultMap id="BaseResultMap" type="com.lmbx.csp.data.sys.domain.SysMenu">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="BPID" jdbcType="VARCHAR" property="bpid" />
    <result column="MPID" jdbcType="VARCHAR" property="mpid" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="ICON" jdbcType="VARCHAR" property="icon" />
    <result column="ROUTER" jdbcType="VARCHAR" property="router" />
    <result column="PERMISSION" jdbcType="VARCHAR" property="permission" />
    <result column="SEQUENCE" jdbcType="DECIMAL" property="sequence" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="CREATE_BY" jdbcType="VARCHAR" property="createBy" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="UPDATE_BY" jdbcType="VARCHAR" property="updateBy" />
    <result column="MENU_LEVEL" jdbcType="DECIMAL" property="menuLevel" />
    <result column="HELP_CODE" jdbcType="VARCHAR" property="helpCode" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, BPID, MPID, NAME, ICON, ROUTER, PERMISSION, SEQUENCE, CREATE_TIME, CREATE_BY, 
    UPDATE_TIME, UPDATE_BY, MENU_LEVEL, HELP_CODE
  </sql>
  <select id="selectByExample" parameterType="com.lmbx.csp.data.sys.domain.SysMenuExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from SYS_MENU
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from SYS_MENU
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from SYS_MENU
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.lmbx.csp.data.sys.domain.SysMenuExample">
    delete from SYS_MENU
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.lmbx.csp.data.sys.domain.SysMenu">
    insert into SYS_MENU (ID, BPID, MPID, 
      NAME, ICON, ROUTER, 
      PERMISSION, SEQUENCE, CREATE_TIME, 
      CREATE_BY, UPDATE_TIME, UPDATE_BY, 
      MENU_LEVEL, HELP_CODE)
    values (#{id,jdbcType=VARCHAR}, #{bpid,jdbcType=VARCHAR}, #{mpid,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{icon,jdbcType=VARCHAR}, #{router,jdbcType=VARCHAR}, 
      #{permission,jdbcType=VARCHAR}, #{sequence,jdbcType=DECIMAL}, #{createTime,jdbcType=TIMESTAMP}, 
      #{createBy,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, 
      #{menuLevel,jdbcType=DECIMAL}, #{helpCode,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.lmbx.csp.data.sys.domain.SysMenu">
    insert into SYS_MENU
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="bpid != null">
        BPID,
      </if>
      <if test="mpid != null">
        MPID,
      </if>
      <if test="name != null">
        NAME,
      </if>
      <if test="icon != null">
        ICON,
      </if>
      <if test="router != null">
        ROUTER,
      </if>
      <if test="permission != null">
        PERMISSION,
      </if>
      <if test="sequence != null">
        SEQUENCE,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="createBy != null">
        CREATE_BY,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
      <if test="updateBy != null">
        UPDATE_BY,
      </if>
      <if test="menuLevel != null">
        MENU_LEVEL,
      </if>
      <if test="helpCode != null">
        HELP_CODE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="bpid != null">
        #{bpid,jdbcType=VARCHAR},
      </if>
      <if test="mpid != null">
        #{mpid,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="icon != null">
        #{icon,jdbcType=VARCHAR},
      </if>
      <if test="router != null">
        #{router,jdbcType=VARCHAR},
      </if>
      <if test="permission != null">
        #{permission,jdbcType=VARCHAR},
      </if>
      <if test="sequence != null">
        #{sequence,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="menuLevel != null">
        #{menuLevel,jdbcType=DECIMAL},
      </if>
      <if test="helpCode != null">
        #{helpCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.lmbx.csp.data.sys.domain.SysMenuExample" resultType="java.lang.Long">
    select count(*) from SYS_MENU
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update SYS_MENU
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.bpid != null">
        BPID = #{record.bpid,jdbcType=VARCHAR},
      </if>
      <if test="record.mpid != null">
        MPID = #{record.mpid,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null">
        NAME = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.icon != null">
        ICON = #{record.icon,jdbcType=VARCHAR},
      </if>
      <if test="record.router != null">
        ROUTER = #{record.router,jdbcType=VARCHAR},
      </if>
      <if test="record.permission != null">
        PERMISSION = #{record.permission,jdbcType=VARCHAR},
      </if>
      <if test="record.sequence != null">
        SEQUENCE = #{record.sequence,jdbcType=DECIMAL},
      </if>
      <if test="record.createTime != null">
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createBy != null">
        CREATE_BY = #{record.createBy,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null">
        UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateBy != null">
        UPDATE_BY = #{record.updateBy,jdbcType=VARCHAR},
      </if>
      <if test="record.menuLevel != null">
        MENU_LEVEL = #{record.menuLevel,jdbcType=DECIMAL},
      </if>
      <if test="record.helpCode != null">
        HELP_CODE = #{record.helpCode,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update SYS_MENU
    set ID = #{record.id,jdbcType=VARCHAR},
      BPID = #{record.bpid,jdbcType=VARCHAR},
      MPID = #{record.mpid,jdbcType=VARCHAR},
      NAME = #{record.name,jdbcType=VARCHAR},
      ICON = #{record.icon,jdbcType=VARCHAR},
      ROUTER = #{record.router,jdbcType=VARCHAR},
      PERMISSION = #{record.permission,jdbcType=VARCHAR},
      SEQUENCE = #{record.sequence,jdbcType=DECIMAL},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      CREATE_BY = #{record.createBy,jdbcType=VARCHAR},
      UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      UPDATE_BY = #{record.updateBy,jdbcType=VARCHAR},
      MENU_LEVEL = #{record.menuLevel,jdbcType=DECIMAL},
      HELP_CODE = #{record.helpCode,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.lmbx.csp.data.sys.domain.SysMenu">
    update SYS_MENU
    <set>
      <if test="bpid != null">
        BPID = #{bpid,jdbcType=VARCHAR},
      </if>
      <if test="mpid != null">
        MPID = #{mpid,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="icon != null">
        ICON = #{icon,jdbcType=VARCHAR},
      </if>
      <if test="router != null">
        ROUTER = #{router,jdbcType=VARCHAR},
      </if>
      <if test="permission != null">
        PERMISSION = #{permission,jdbcType=VARCHAR},
      </if>
      <if test="sequence != null">
        SEQUENCE = #{sequence,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        CREATE_BY = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        UPDATE_BY = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="menuLevel != null">
        MENU_LEVEL = #{menuLevel,jdbcType=DECIMAL},
      </if>
      <if test="helpCode != null">
        HELP_CODE = #{helpCode,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lmbx.csp.data.sys.domain.SysMenu">
    update SYS_MENU
    set BPID = #{bpid,jdbcType=VARCHAR},
      MPID = #{mpid,jdbcType=VARCHAR},
      NAME = #{name,jdbcType=VARCHAR},
      ICON = #{icon,jdbcType=VARCHAR},
      ROUTER = #{router,jdbcType=VARCHAR},
      PERMISSION = #{permission,jdbcType=VARCHAR},
      SEQUENCE = #{sequence,jdbcType=DECIMAL},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      CREATE_BY = #{createBy,jdbcType=VARCHAR},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      UPDATE_BY = #{updateBy,jdbcType=VARCHAR},
      MENU_LEVEL = #{menuLevel,jdbcType=DECIMAL},
      HELP_CODE = #{helpCode,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>